NODE_ENV=development
PORT=5000

APP_NAME=realtime-chat-backend-nodejs
APP_BASE_URL=http://localhost:5001
API_PREFIX=/api/v1

MONGODB_URI=mongodb://localhost:27017/realtime_chat

REDIS_URL=redis://localhost:6379

JWT_ACCESS_SECRET=replace-with-a-strong-access-secret-of-at-least-32-characters
JWT_REFRESH_SECRET=replace-with-a-strong-refresh-secret-of-at-least-32-characters
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

CORS_ORIGIN=http://localhost:3000
LOG_LEVEL=info
